.card-container{
    width: 40%;
    min-width: 500px;
    margin:50px auto;
    padding:20px;
    box-shadow: 0 0 3px 1px black;
    border-radius: 10px;

    header{
        text-align: center;
    }
}