@import '../../../../common-styles.scss';

div{
    @extend .centered;
    span{
        display: inline-block;
        height:10px;
        width:10px;
        border-radius: 50%;
        background-color: aqua;
        margin:0 5px;
    }

    >span:nth-child(1){
        animation: scale 0.5s linear -0.5s infinite alternate;
    }
    
    >span:nth-child(2){
        animation: scale 0.5s linear -0.25s infinite alternate;
    }
    
    >span:nth-child(3){
        animation: scale 0.5s linear 0s infinite alternate;
    }
}

@keyframes scale {
    0%{
        transform: scale(2);
    }
    100%{
        transform: scale(0);
    }
}