@import '../../checkout-common-styles.scss';
@import '../../../../common-styles.scss';


.checkout-option{
    @extend checkout-option-style;

    .btns-container{
        padding:20px 25px;
        display: flex;
        gap:20px;

        button{
            @extend checkout-btn;
            padding:10px 50px;
        }
    }
    
}